.dashboard-left{
  padding-top: 50px;
  padding-bottom: 50px;
}
.dashboard-right{
  padding-top: 50px;
  padding-bottom: 50px;
}
li{
   text-decoration: none;
}
.dashboard-menu {
  text-decoration: none;
  list-style: none;
  color: #865932;
  margin-top: 10px;
}
.dashboard-menu:hover {
  text-decoration: none;
  list-style: none;
  color: #865932;
}
