.dashboard-left{
  height: 100vh;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px 20px;
  background-color: aliceblue;
}
.dashboard-right{
  padding-top: 20px;
  padding-bottom: 20px;
}
li{
   text-decoration: none;
}
.dashboard-menu {
  text-decoration: none;
  list-style: none;
  color: #865932;
  margin-top: 10px;
}
.dashboard-menu:hover {
  text-decoration: none;
  list-style: none;
  color: #865932;
}
