#subscribe{
  background-color: #895c34;
}
.form-button{
  background-color: #865932;
  color: #fff;
  border: 2px solid #fff;
  outline: none;
  border-radius: 50px;
  font-weight: 500;
  padding: 10px 30px;
  margin: 10px;
}
.form-button:hover{
  background-color: #fff;
  color: rgb(0, 0, 0);
  border: 2px solid #fff;
  outline: none;
  border-radius: 50px;
  font-weight: 500;
  padding: 10px 30px;
  margin: 10px;
}
.formdesign{
  color: #fff;
  border: none;
  outline: none;
  border-radius: 50px;
  font-weight: 500;
  padding: 10px 30px;
}
input[placeholder]{
  padding-left: 20px;
}
.footer-bottom {
  background-color: #ffffff;
}
.text-color{
  color: #865932;
}
.ficon{
  font-size: 17px;
  color: #865932;
  cursor: pointer;
  padding-left: 15px;
}
